#titulo {
    color: black   
}

#titulo{

    text-align: center;
    text-decoration: solid;

}

#titulo{
    background-color: rgb(87, 87, 255);
    margin: 10px;
    padding: 10px;
    border: solid 1px black;

}

#DescripcionVideo{
    text-align: center;
    text-decoration: solid;
}

#Logo{
    height: 130px;
    width: 300px;
    float: left;
}

.menu{
    float: right;
    border: solid 10px steelblue;
    border-radius: 5px;
    margin: 0 15px;
    padding: 10px 15px;
}

#portada{
    height: 130px;
}

/* #Logo{
    float: left;
    display: inline;
    width: 20%;
    margin: auto;
}

.menu{
    border: solid 3px tomato;
    border-radius: 5px;
    margin: 0 15px;
} */

#SubTitulo{
    text-align: center;
}

.texto {
    color: rgb(0, 0, 0);
}

#mision {
    background-color: rgb(255, 188, 99);
}

#vision {
    background-color: rgb(255, 188, 99);
}

#PiePagina{
    background-color: rgb(119, 119, 255);
    
}

#Personas{
    display: block;
    width: 80%;
    margin: auto;
}

#LinkYT{
    display: block;
    width: 600px;
    height: 400px;
    margin: auto;
    
}