body{
  background-color: rgb(128, 128, 128);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-bottom: 5%;
    font-weight: bold;
  }
  h1 {
    color: #000000;
    font-size: 45px;
  }
  ul,
  li {
    display: inline-block;
    padding: 0px 20px;
  }
  a {
    color: #000000;
    text-decoration: none;
  }

  .calendario{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

  }

  .PrimerDia{
    grid-column-start: 6;
  }