body{
  background-color: rgb(128, 128, 128);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-bottom: 5%;
    font-weight: bold;
  }
  h1 {
    color: #000;
    font-size: 45px;
  }
  ul,
  li {
    display: inline-block;
    padding: 0px 20px;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
  }
  table,
  tr,
  th {
    border: 3px solid rgb(0, 0, 0);
  }
  .ImagenFiguras{
    width: 200px;
    height: 300px;
  }