body{
  background-color: rgb(128, 128, 128);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5%;
  padding-bottom: 5%;
  font-weight: bold;
}

h1 {
  color: #000;
  font-size: 45px;
}

ul,
li {
  display: inline-block;
  padding: 0px 20px;
}

a {
  color: #000;
  text-decoration: none;
}

.imagenPrincipal {
  width: 900px;
  height: 600px;
  display: flex;
  align-items: center;
  padding-left: 230px;
}

.titulo{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 5%;
  font-weight: bold;
}

.subtitulo{
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.texto{
  margin: auto;
  width: 640px; 
  padding: 50px;
  font-family: 'Arial', sans-serif; 
  color: #000000;   
}

#LinkYT{
  display: block;
  width: 900px; 
  height: 600px;
  margin: auto;
  padding-top: 20px;
  padding-left: 26px;
}
